<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/menu :: menu"></div>

    <div class="content">
        <div class="main-content">
            <h1 th:text="${thisproject.projectname}" class="project-name"></h1>
            <p th:text="${thisproject.description}" class="project-description"></p>
            <form th:action="@{/homepage/addtask/{projectid}(projectid=${thisproject.projectid})}">
                <button type="submit" class="project-button-add-task">Add task</button>
            </form>
        </div>
        <div class="task-container">
            <div th:each="task : ${tasks}" class="task">
                <div class="task-content"
                     th:data-taskid="${task[0]}"
                     th:data-taskname="${task[2]}"
                     th:data-taskstatus="${task[7]}"
                     th:data-userid="${user.userid}"
                     th:data-projectid="${thisproject.projectid}"
                     onclick="openPopUp(this)">
                    <span class="task-status" th:text="${task[7]}">Task status</span>
                    <span class="task-priority" th:text="${task[4]}">Priority name</span>
                    <h2 th:text="${task[2]}" class="task-title">Task name</h2>
                    <p th:text="${task[3]}" class="task-description">Description</p>
                    <span class="task-due-date" th:text="${task[6]}">Due Date</span>
                </div>
                <form th:action="@{/deletetask/{projectid}(projectid=${thisproject.projectid})}" method="post">
                    <input type="hidden" name="taskid" th:value="${task[0]}">
                    <button type="submit" class="task-button-end-task">Delete task</button>
                </form>
            </div>
        </div>

    </div>
    <div class="popup-container">
        <div class="popup-content">
            <div class="popup-status-section">
                <h2>taskname</h2>
                <button class="popup-button-close" onclick="closePopUp()">Close</button>
                <form action="updatetask">
                    <p>Task status: current status</p>
                    <select name='taskstatus'>
                        <option value='1'>To Do</option>
                        <option value='2'>In Progress</option>
                        <option value='3'>Completed</option>
                        <option value='4'>Deferred</option>
                    </select>
                    <button type='submit'>Save</button>
                </form>
            </div>
            <div class="popup-comments-section">
                <h3>Add comment</h3>
                <form action="addcomment" method='post'>
                <input type='text' name='commentcontent' placeholder='Leave a comment'>
                <button type='submit'>Add comment</button>
                </form>
                <h3>Comments</h3>
                <div class='comment'>
                <span>comment</span><br>
                <span>date</span>
                <span>author</span>
                </div>
            </div>
        </div>
    </div>

    <script src="/css/script.js"></script>
</body>
</html>